
*{
    margin: 0px;
    padding: 0px;
}
h3{
    margin-bottom: 15px;
}
h2{
    margin-bottom: 15px;
    font-size: 2.5rem;
}
h4{
   font-weight: bold;
   font-size: .95rem;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 750px;
    flex-direction: column;
    margin: auto;
}
/* section 1 - presentation */
.presentation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 5vh;
}
#avatar{
    width: 180px;
    height: 180px;
    border-radius: 60px;
}
/* .text-animation{
    animation: typing 2.5s steps(23),
                cursor .4s step-end infinite alternate;
    width: 100%;
    height: auto;
    border-right: 4px solid;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes cursor {
    50%{border-color: transparent;}
}
@keyframes typing {
    from {width: 0px;}
} */
/* section 2 - about */
.about{
    margin-top: 5vh;
}

/* section 3 - education */

.educaction{
    text-align: start;
    width: 100%;
    margin-top: 5vh;
}
[data-education="courses"]{
    margin-top: 25px;
    display: flex;

}
[data-education="courses"] span{
    display: flex;
    align-items: center;
    justify-items: center;

}
.education-box{
    display: flex;
    justify-content: space-between;
}
.education-content{
    width: 100%;
}
.logo-education{
    box-shadow: 0px 0px 1.5px var(--background-black); 
    border-radius: 50%; 
    width: 45px;
    height: 45px;
    margin-right: 15px;
}
[data-education="courses"] p{
    font-size: .85rem;
}
/* sectio 4 - skills */

.skills{
    margin-top: 5vh;
    width: 100%;
}
.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.technologies p{
    border-radius: 8px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: .85rem;
    cursor: default;
    font-weight: 500;
}

/* section 5 - projects */
.projects{
    margin-top: 5vh;
}
.projects h2{
    text-align: center;
}
.projects-introduction p{
    text-align: center;
}

#section-projects{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.global-icon{
    height: auto;
    width: 20px;
}
.show-projects{
    border: .7px solid var(--border);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.img-project{
    width: 100%;
    height: 100%;
    border-radius: 15.5px 15.5px 0px 0px;
    object-fit: cover
}
.project-second-div{
    display: flex;
    flex-direction: column;
}
.project-second-div h4{
    font-weight: bold;
    font-size: .9rem;
    margin-top: 10px;
    margin-left: 10px;
}
.project-second-div p{
    font-weight: normal;
    font-size: .9rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.project-third-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-left: 10px;
}
.project-third-div p{
    border-radius: 8px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: .7rem;    
    cursor: default;
}
.link-project{
   display: flex;
   align-items: center;
}
.link-project a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-size: .8rem;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 2.5px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: transform .3s ease, background-color 0.3s ease;
}
.link-project a:hover{
    transform: scale(1.1);
    font-style: italic;
}

/* section 6 - contact */

.contact{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    
}
.contact h2{
    text-align: center;
}
.contact p{
    text-align: center;
}
.contact span{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}
.contact a{
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: .85rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.contact a:hover {
    transform: scale(1.1);
    font-weight: bold;
    font-style: italic;
}

/* footer */

footer{
   display: flex;
   justify-content: center;
   margin-top: 10vh;
   margin-bottom: 7px;
}
footer p{
    font-size: .8rem;
 }

 /* nav */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#nav-content{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    margin-bottom: 3.5vh;
    gap: 6px;
    padding: 8px;
    border-radius: 40px;
    transition: transform .2s ease, background-color 0.3s ease;
    
}
#nav-content:hover{
    transform: scale(1.1);
    display: flex;
}
#nav-content a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* transition: transform .3s ease, background-color 0.3s ease; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: margin 0.7s ease
}
#nav-content a:hover{
    border-radius: 100%;
    transform: scale(1.1);
    margin-left: 12px;
    margin-right: 12px;
    /* margin-bottom: 10px; */
}
#nav-content img{
    width: 20px;
    height: 20px;
}
.bar{
    cursor: default;
}
#blur{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0px;
}
@media (max-width: 750px){
    .flex-container{
        width: 380px;
    }
    #avatar{
        width: 145px;
        height: 145px;
        border-radius: 50px;
    }
}